/*
  Declara las capas antes de importar (requisito v4)
  ─────────────────────────────────────────────────── */
@layer theme, base, components, utilities;

/* 4. Cualquier personalización tuya:  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* 1. Tema por defecto (paleta, tamaños, etc.) */
@import 'tailwindcss/theme.css' layer(theme);

/* 2. Preflight (reset)  ─ puedes omitirlo si no lo quieres */
@import 'tailwindcss/preflight.css' layer(base);

/* 3. Utilidades clásicas  */
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base {
  :root {
    /* Primary Colors */
    --color-primary-white: #ffffff;
    --color-primary-black: #070707;
    --color-primary-light-grey: #f3f4f9;
    --color-primary-greenyellow: #aeff00;
    --color-primary-purple: #6f2df3;
    /* Secondary Colors */
    --color-secondary-white: #f8f8fe;
    --color-secondary-white-nav: #fafafa;
    --color-secondary-offwhite: #ebedfd;
    --color-secondary-outline: #e0e0e0;
    --color-secondary-gray: #73737d;
    --color-secondary-disabled-grey: #a1a3b2;
    --color-secondary-grey: #767680;
    --color-secondary-grey-fonts: #6c6e7c;
    /* Alert Colors */
    --color-alert-error: #ef0c0c;
    --color-toast-default-bg: #f7f3ff;
    --color-toast-success-bg: #f1fff7;
    --color-toast-warning-bg: #fffbed;
    --color-toast-danger-bg: #fff0f0;
    /* Hover Colors */
    --hover-color-primary: #8752f1;
    --hover-color-danger: #f84a4a;
    --hover-color-primary-outline: #8752f1;
    --hover-color-outline: #73737d;
    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-serif: 'Source Serif 4', serif;
    /* SiteMetadata */
    --casting-status-draft: #a1a3b2;
    --casting-status-published: #008856;
    --casting-status-paused: #fdc200;
    --casting-status-closed: #ef0c0c;
    --casting-status-archived: #73737d;
    --casting-application-status-blank: #e9ebee;
    --casting-application-status-preselected: #0083e6;
    --casting-application-status-selected: #008856;
    --casting-application-status-not-proceeding: #ef0c0c;
    --casting-application-status-viewed: #a1a3b2;
  }

  /* General */
  body {
    @apply bg-[var(--color-primary-white)] list-none text-[var(--color-primary-black)];
    font-family: var(--font-inter);
  }
}

@theme {
  --breakpoint-xs: 28rem;
}

@layer utilities {
  /* ej.  .btn-primary { @apply bg-blue-600 text-white px-4 py-2 rounded; } */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overscroll-behavior: auto; /* Allows to keep scrolling when no more content */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}
